/* Global variables */
$content-width: 1200px;
$content-width-mobile: 760px;

$logo-font: 'Work Sans', sans-serif;
$primary-font: 'Roboto', sans-serif;

$primary-color: #fffff5;
$secondary-color: #b3b3b3;
$muted-color: #737373;
$highlight-color: #feebad;
$base-color: #fece7e;
$base-glow: rgba(254, 206, 126, 0.5);
$dim-color: #262523;
$background-color: #181818;
$shadow-color: #0d0d0d;
